<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- without this will not open Call Activity -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- for loading image to notification -->

    <application
        android:name=".CallNotificationApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CallNotificationScreen"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ConversationActivity"
            android:exported="false" />

        <!--
            taskAffinity need for opening activity in different task (work fine without it (because we add FLAG_ACTIVITY_NEW_TASK or Intent.FLAG_ACTIVITY_MULTIPLE_TASK flags),
            but have a problem with android 7-11 (below 7 I didn't check). In android 7-11 after opening MainActivity and call schedule notification and then press go back button
            (activity closed but still present in recent apps), wait appearing of the push notification, press decline button and see the MainActivity is removed from recent
            if add android:taskAffinity="com.dismiss_dummy.activity" everything works fine

            Theme.Transparent for avoiding animation appearing new activity (happens sometimes)
        -->
        <activity
            android:name=".presentation.DismissDummyActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity="com.dismiss_dummy.activity"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name=".domain.NotificationReceiver"
            android:enabled="true" />

        <!--
            noHistory need because when we navigate from this screen to ConversationActivity and then go back
            we will no go to IncomingCallActivity, but to MainActivity.
        -->
        <activity
            android:name=".presentation.IncomingCallActivity"
            android:exported="false"
            android:noHistory="true" />

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>